<%= render 'admin/header' %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-10">
      <h3>新規商品登録</h3>
      <%= form_with model: @item, url:admin_items_path do |f| %>
        <div class="row">
          <div class="col-3">
            <p>画像登録</p>
          </div>
          <div class="col-7">
             <!--画像登録-->
            <%= f.file_field :item_image, accept: "image/*" %>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p>商品名</p>
          </div>
          <div class="col-7">
            <!--商品名-->
            <%= f.text_field :name %>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p>商品説明</p>
          </div>
          <div class="col-7">
            <!--商品説明-->
            <%= f.text_area :introduction, style: "width:600px", rows: "5"%>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p>ジャンル</p>
          </div>
          <div class="col-7">
            <!--ジャンル-->
            <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p>税抜き価格</p>
          </div>
          <div class="col-7">
            <!--税抜き価格-->
            <%= f.text_field :price %>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p>販売ステータス</p>
          </div>
          <div class="col-7">
            <div class="row">
              <!--販売ステータス-->
              <div class="col-3">
                <%= f.radio_button :is_active, "ture" %>
                <%= f.label :is_active_sale, "販売中" %>
              </div>
              <div class="col-3">
                <%= f.radio_button :is_active, "false" %>
                <%= f.label :is_active_sale_stop, "販売停止" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5 offset-5">
          <%= f.submit '新規登録', class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
















