<%= render 'admin/header' %>

<h3>商品詳細</h3>

<!--商品画像-->
<%= image_tag @item.get_item_image(300, 300, "center") %>
<!--商品名-->
<%= @item.name %>
<!--商品説明-->
<%= @item.introduction %>
<!--ジャンル-->
<%= @item.genre.name %>
<!--税込み価格(税抜き価格)-->
<%= @item.price %>(<%= @item.tax_included %>)円
<!--販売ステータス-->
<% if @item.is_active %>
   <p>販売中</p>
<% else %>
    <p>販売停止中</p>
<% end %>
<%= link_to '編集する', edit_admin_item_path(@item.id) %>

