<header class="shadow-sm">
  <!--  admin ログイン後-->
    <% if admin_signed_in? %>
      <nav  class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <h1>Logo</h1>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item "><%= link_to "商品一覧", admin_items_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "会員一覧", admin_customers_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "注文履歴一覧",  admin_root_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
          </ul>
        </div>
      </nav>
    <!--admin ログイン前-->
    <% else %>
      <nav  class="navbar navbar-expand-lg navbar-light">
       <div class="container">
          <h1>Logo</h1>
          <ul  class="navbar-nav ml-auto">
            <li>about</li>
            <li class="nav-item"><%= link_to "商品一覧", admin_items_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <!--<li class="nav-item">新規登録</li>-->
            <li class="nav-item"><%= link_to "ログイン", new_admin_session_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
          </ul>
        </div>
      <nav>
    <% end %>
</header>

<p id="notice"></p>