<%= render 'public/header' %>

<h3>注文情報確認画面</h3>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込み)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @total_amount = 0 %>

    <% current_customer.cart_items.each do |cart_item|%>
      <tr>
        <% @subtotal = 0 %>
        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.tax_included %></td>
        <td><%= cart_item.amount %></td>
        <!--小計を求める (個数と単価の掛け算)-->
        <% @subtotal = cart_item.item.tax_included*cart_item.amount %>
        <td><%= @subtotal %></td>
        <!--合計金額を求める (小計を足す)-->
        <% @total_amount += @subtotal %>
      </tr>
    <% end %>
  </tbody>
</table>

<label>送料</label>
<%= @postage %>

<label>商品合計</label>
<%= @total_amount %>

<label>請求金額</label>
<% @billing_amount = @total_amount + @postage %>
<%= @billing_amount %>

<%= form_with model: @order do |f| %>
  <label><strong>支払方法</strong></label>
  <%= @order.payment_method_i18n %>

  <label><strong>お届け先</strong></label>
  〒<%= @order.postal_code %><%= @order.address %><%= @order.name %>

  <%= f.hidden_field :payment_method, :value => @order.payment_method %>
  <%#= f.hidden_field :payment_method, :value => @order.payment_method %>

  <%= f.hidden_field :address_select, :value => @order.postal_code %>
  <%= f.hidden_field :address_select, :value => @order.address %>
  <%= f.hidden_field :address_select, :value => @order.name %>
  
  <%= f.submit '注文を確定する', class: "btn btn-success" %>
  
<% end %>


