<%= render 'public/header' %>

<h3>注文情報入力画面</h3>

<%= form_with model: @order, url:orders_confirm_path, method: :post do |f| %>

  <p><strong>支払い方法</strong><p>
  <%= f.radio_button :payment_method, "credit_card" %>
  <%= f.label :payment_method_credit_card, "クレジットカード" %>

  <%= f.radio_button :payment_method, "transfer" %>
  <%= f.label :payment_method_transfer, "銀行振込" %>

  <p><strong>お届け先</strong><p>
  <%= f.radio_button :address_select, "own_address" %>
  <%= f.label :address_select, "ご自分の住所" %>
  <%= f.radio_button :address_select, "registered_address" %>
  <%= f.label :address_select, "登録済み住所" %>
  <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
  <%= f.radio_button :address_select, "new_address" %>
  <%= f.label :address_select, "新しいお届け先" %>
  <p>郵便番号(ハイフンなし)</p>
  <%= f.text_field :postal_code %>
  <p>住所</p>
  <%= f.text_field :address %>
  <p>宛名</p>
  <%= f.text_field :name %>

  <!--注文情報確認ボタン-->
  <%= f.submit '確認画面に進む', class: "btn btn-primary" %>
<% end %>


