<header class="shadow-sm">
  <!--顧客 ログイン後-->
    <% if customer_signed_in? %>
      <nav  class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <h1>Logo</h1>
          <p>ようこそ!<%= current_customer.last_name %>さん</p>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">マイページ<%#= link_to "マイページ", admin_items_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item">商品一覧<%#= link_to "商品一覧", admin_customers_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item">カート<%#= link_to "カート",  admin_root_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
          </ul>
        </div>
      </nav>
    <!--顧客 ログイン前-->
    <% else %>
      <nav  class="navbar navbar-expand-lg navbar-light">
       <div class="container">
          <h1>Logo</h1>
          <ul  class="navbar-nav ml-auto">
            <li class="nav-item"><%= link_to "About", home_about_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item">商品一覧</li>
            <li class="nav-item"><%= link_to "新規登録", new_customer_registration_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "ログイン", new_customer_session_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
          </ul>
        </div>
      <nav>
    <% end %>
</header>

<p id="notice"></p>